  <div class="customer-table-display">    
    <table class="customer-table">
        <thead>
          <tr>
            <th scope="col">Customer</th>
            <th scope="col">Email Contents</th>
            <th scope="col" class="action-items"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let email of emailTableData">
            <td>{{ email.customerName }}</td>
            <td>{{ email.message }}</td>
            <ng-container>
                <button class="btn btn-primary btn-sm" (click)="openSendEmailDialog(email)" title="Send new email to {{email.customerName}}">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </button>
                <button class="btn btn-secondary btn-sm" (click)="deleteCustomerEmail(email)" title="Delete email">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
                <button class="btn btn-secondary btn-sm" (click)="deleteCustomer(email)" title="Delete {{email.customerName}} and all emails associated with customer">
                    <fa-icon [icon]="faPerson"></fa-icon>
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>                
            </ng-container>
          </tr>
        </tbody>
      </table>
  </div>
  
  