  <div class="customer-table-display">
    <header>
        <title>This is the customer email table</title>
        <div>
            <button>Click me for a bulk email to all customers</button>
            <button>Click me to add a new customer.</button>
            <button>Click me to refresh the table.</button>
        </div>
    </header>
    <table class="customer-table">
        <thead>
          <tr>
            <th scope="col">Customer</th>
            <th scope="col">Email Contents</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let email of customerEmailData">
            <td>{{ email.customerName }}</td>
            <td>{{ email.message }}</td>
            <ng-container>
                <button (click)="deleteCustomerEmail(email)" class="btn btn-secondary btn-sm"><i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </ng-container>
          </tr>
        </tbody>
      </table>
  </div>
  
  