.customer-table-display {
    margin-right: 30px;
    margin-left: 30px;
    border-width: 1px;

    .customer-table {
        thead {
            vertical-align: bottom; 
        }
        tr, th, td {
            border-color: inherit;
            border-style: solid;
            border-width: 1px;
        }
        .action-items {
            width: 12%
        }
        .btn {
            margin: 7px;
        }
    }
}

.selected-customer {
    background-color: #ffffb7;
}
.regular-customer {
    background-color: white;
}
